[submodule "MKPITS_COREJAVA_Pranav_Armarkar"]
	path = MKPITS_COREJAVA_Pranav_Armarkar
	url = https://github.com/prana36/MKPITS_COREJAVA_Pranav_Armarkar.git
[submodule "MKPITS_HTML_Pranav_Armarkar"]
	path = MKPITS_HTML_Pranav_Armarkar
	url = https://github.com/prana36/MKPITS_HTML_Pranav_Armarkar.git
