
/* text-transform is used to turn everything into uppercase or lowercase letters, 
or capitalize the first letter of each word. 
We can set this property to none, uppercase, lowercase or capitalize.

h1{text-transform: uppercase}; */

h1 {
  color: rgb(80, 210, 30);
  text-align: center;
  letter-spacing: 5px;
  line-height: 50px;
  text-decoration: underline;
  text-shadow: 2px 2px 6px rgb(50, 11, 206);
}
h3 {
  color: brown;
  text-align: center;
  letter-spacing: 8px;
  line-height: 50px;
  text-decoration: overline;
  text-shadow: 2px 2px 5px red, 5px 5px 8px blue;
}
p {
  color: brown;
  letter-spacing: 1px;
  /* text-decoration: line-through; */
  text-indent: 30px;
  text-transform: uppercase;
}