/* It specifies the indention of the first line of text in a block.
 we can specify this property in the form of either length or percentage.
Negative values are allowed. 
The first line will be indented to the left if the value is negative.

p{text-indent: 30px;} */
h1{
    color: rgb(80, 210, 30);
    text-align: center;
   letter-spacing: 5px;
   line-height: 50px;
   text-decoration: underline;
   
}
h3{
      color: brown;
      text-align: center;
      letter-spacing: 8px;
      line-height: 50px;
      text-decoration: overline;
}
p{
    color: brown;
    letter-spacing: 1px;
    text-decoration: line-through;   
    text-indent: 30px;
}